<ion-view view-title="Baseline">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-chevron-left" href="#/tab/home" ></a>
  </ion-nav-buttons>

  <ion-content class="padding">
    <h2>Pain Rate</h2>
      <img class="face" src="img/face_4.jpg">

    <div class="baseline_bar">
      <img src="img/range_bg.jpg">
      <input class="range_line" type="range" step="1" min="0" max="8" value="4">
    </div>

    <ion-buttons class="button button-block button-orange" >Find Treatment</ion-buttons>




      <div class=" range range-positive">

        <input type="range" name="volume" min="0" max="8" value="4">

      </div>

  </ion-content>
</ion-view>
