<ion-view view-title="Timer">
  <ion-content class="padding">
    <h2>Timer</h2>
    <div class="list">

      <a class="item item-icon-left" href="#">Username
        <span class="item-note">Alexis Zhang</span>
      </a>

      <a class="item item-icon-left" href="#">Email
        <span class="item-note">alexiszhang@gmail.com</span>
      </a>

      <a class="item item-icon-left" href="#">Password
        <span class="item-note">********</span>
      </a>

      <a class="item item-icon-left" href="#">Gender
        <span class="item-note">Female</span>
      </a>



    </div>



    <a class="button button-outline button-positive" href="#/sign-in">
      Sign Out
    </a>
  </ion-content>
</ion-view>
