<ion-view view-title="Treatment list">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-chevron-left" href="#/tab/home" ></a>
  </ion-nav-buttons>

  <ion-content class="padding">
    <h2> Headache treatment</h2>

    <div class="list card">

      <div class="item ">
        <h3>The third eye point</h3>
      </div>

      <div class="item item-image">
        <img src="img/body_face.jpg">
      </div>
      <div class="item assertive" href="#">
        <div class="row">
          <div class="col col-67">
            <p>Offical number</p>
            <b class=big_text>GV 24.5</b>
          </div>
          <div class="col">
            <p>Time</p>
            <b class=big_text>2</b>
          </div>
        </div>

      </div>
      <div class="item assertive" href="#">
        <ion-button class="button button-full">start</ion-button>
      </div>

    </div>




    <div class="treatment_list_box">
      <h3>Third eye treatment</h3>
      <div class="treatmente_img">
        <img src="img/body_face.jpg">
        <div class="treatmente_dot" id="GV24"></div>
      </div>
      <div class="treatment_list_info">
        <div class="left">
          <p>Offical number</p>
          <b class=big_text>GV 24.5</b>
        </div>
        <div class="right">
          <p>Time</p>
          <b class=big_text>2</b>
        </div>
      </div>
      <div class="treatment_list_button">
        <ion-button class="button ">Start</ion-button>
      </div>
    </div>

  </ion-content>
</ion-view>
