ㄎ<ion-view view-title="Baseline">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-chevron-left" href="#/tab/treat" ></a>
  </ion-nav-buttons>

  <ion-content class="padding">
    <h2>Rate your pain</h2>
    <p>Pain level: {{volume}}</p>
      <img class="face" ng-src={{painimage}}>

    <div class="baseline_bar">
      <img src="img/range_bg.svg">
      <input class="range_line" type="range" ng-change="myPain(volume)" ng-model="volume" step="1" min="{{min}}" max="{{max}}" value="4">
    </div>

    <a class="button button-block button-orange" href="#/treatmentlist" >Find Treatment</a>




  </ion-content>
</ion-view>
