<ion-view view-title="Congratulation">
  <ion-nav-buttons side="left">

  </ion-nav-buttons>
  <ion-content class="padding">

    <div class="card card-clean">
      <div class="card-title">Headache</div>
      <div class="card-body-clean ">
        <img class="img176" src="img/face.gif" alt="">
      </div>
      <div class="card-body row">
        <div class="col">
          <p>Before</p>
          <b>4</b>
        </div>
        <div class="col">
          <p>After</p>
          <b>2</b>
        </div>
        <div class="col">
          <p>Time</p>
          <b>2</b>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer padding">
    <a class="button button-block button-line" href="#/tab/home">
      Back to Homepage
    </a>
  </div>
</ion-view>
