<ion-view view-title="AcuPoint">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-ios-pen-blue" href="#/device" ></a>
  </ion-nav-buttons>

  <ion-content class="padding">
    <h2>This week</h2>

    <div class="summery text_center">
      <div class="left_box">
        <div class="side_box">
          <p >Symptoms</p>
          <b class=big_text>0</b>
        </div>
        <div class="side_box">
          <p >Treats</p>
          <b class=big_text>0</b>
        </div>
      </div>
      <div class="center_box">
        <div class="side_box">
          <p >Pain Rate</p>
          <img class="face" src="img/face_4.jpg">
        </div>
      </div>
      <div class="right_box">
        <div class="side_box">
          <p >Points</p>
          <b class=big_text>0</b>
        </div>
        <div class="side_box">
          <p >Time</p>
          <b class=big_text>0</b>
        </div>
      </div>

    </div>



    <a href="#/sign-in">profile</a>


  </ion-content>
</ion-view>
