<ion-view view-title="Headache Treatments">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-chevron-left" href="#/baseline" ></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-navicon" href="#/tab/treat" ></a>
  </ion-nav-buttons>

  <ion-content class="bg_orange">
    <div class="line-bar ">
      <img class="line-bar" src="img/linebar/linebar_3.svg" alt="">
    </div>



      <div class="treatment_card" ng-repeat="record in records">
      <div class="treatment_card_header">
        <h3>{{record.name}}</h3>
      </div>

      <div class="treatment_card_image">
        <img class="treat_img" ng-src="{{record.face}}">
        <h5 class="treatment_card_text">{{record.time}} mins</h5>
      </div>

      <div class="treatment_card_footer">
        <a class="button button-white" href="#/camera">Start</a>
      </div>
    </div>


    </div>

  </ion-content>
</ion-view>
