/* Empty. Add your own CSS if you like */
body{
  color: #6A7191;
}
.padding{
  padding: 16px 27px;
}

h2{
  font-size: 17px;
  font-weight: 500;
  color:#F9B763;
  text-align: center;
}
h3{
  font-size: 13px;
  font-weight: 600;
  margin-top: 8px;
  color:#F9B763;
  text-align: center;
}

.bar.bar-stable{
  border-color: white;
  background-color: white;
  background-image: linear-gradient(0deg, #F9B763,#F9B763 0%, transparent 0%);
  color: #F9B763;
}
.bar .title{
  font-weight: 800;
}
.button{
  border-radius: 24px;
  border-width: 2px;
  font-weight: 600;
  height: 48px;
  margin: 0px 8px;
  width: calc(100% - 16px);
}

.button.button-positive.button-outline{
  border-color: #F9B763;
  color: #F9B763;

}
.button-orange{
  background-image: linear-gradient(0deg, #F58F75,#F9B763 100%, transparent 100%);
  border: 0px ;
  color: #FFF;
  padding-top: 4px;
  font-size: 17px;
  letter-spacing: 0.5px;
}
.row{
  text-align: center;
}


/*tab */
.tabs{
  background-color:white ;
  background-image: linear-gradient(0deg, #F9B763,#F9B763 0%, transparent 0%);
  border-top: 2px solid #F9B763 !important;
  color: #F9B763;
  padding-top: 6px;
}
.tab-item .icon{
  margin: 0 auto -6px;
}
/* Home page*/

.left_box, .right_box{
  width: 25%;
  float: left;
  text-align: center;
}
.center_box{
  width: 50%;
  float: left;
  text-align: center;
}
.center_box img{
  margin: 23px 32px ;
}
.side_box{
  width: 100%;
  padding: 16px 0;
  /*border: 1px solid black;*/
}
.big_text{
  font-size: 32px;
  font-weight: 600;
  line-height:48px;
  color: #65A1C8;
}
/*Treatment Page*/
#area_head{
  background-color: rgba(100,100,100,0.0);
  position: absolute;
  width: 25%;
  height: 18%;
  top: 5%;
  left: 11%;
  border: 0;
  outline:none;
  cursor: pointer;
}

.action-sheet .button{
  color: #2A3562;
  font-weight: 300;
}
.action-sheet-title{
  color: #2A3562;
  font-weight: 600;
  font-size: 17px;
}
.action-sheet-cancel .button{
  color: #F3807B ;
  font-weight: 600;
}

/*baseline*/

.baseline_face{
  padding: 64px;
  text-align: center;
}

.baseline_bar{
  position: relative;
  width: 100%;
  margin-bottom: 32px;
}
.baseline_bar img{
  width: 100%;
  padding: 0 8px;
}

.baseline_bar input {

 margin-top: 16px;
  width:100%;

}
.range_line{
  position: absolute;
  left: 0;
  top:0px;
}

/*Treatment list*/
.card{
  border-radius: 24px;
  border: 2px solid #949AB0;
}


.treatment_list_box{
  width: 100%;
  margin: 16px 0 16px;
  border: 2px solid #949AB0;
  border-radius: 16px;
  padding: 0 16px;
  text-align: center;
}
.treatmente_img{
  position: relative;
  border-top: 1px solid  #949AB0;
  padding: 16px ;
  text-align: center;
}
.treatmente_dot{
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #F3807B;
  position: absolute;
  box-shadow: 0 2px 4px #949AB0;
}
#GV24{
  top: 37%;
  left: 48%;
}

.treatment_list_info{
  border-top: 1px solid  #949AB0;
  padding: 16px 0;
  width: 100%;
  display: table;

}
.treatment_list_info .left{
  width: 66.7%;
  float: left;
}
.treatment_list_info .right{
  width: 33.3%;
  float: right;
}
.treatment_list_button{
  border-top: 1px solid  #949AB0;
  padding: 16px 0;
}

/*Customized icons*/
.ion-ios-pen-blue:before{
  content: url("../img/icon/pen-blue.png")!important;
}

.ion-ios-pen-red:before{
  content: url("../img/icon/pen-red.png")!important;
}


.ion-ios-myhome:before{
  content: url("../img/icon/home-outline.png")!important;
}

.ion-ios-myhome-strong:before {
  content: url("../img/icon/home.png")!important;
}

.ion-ios-mylist:before{
  content: url("../img/icon/list-outline.png")!important;
}

.ion-ios-mylist-strong:before {
  content: url("../img/icon/list.png")!important;
}

.ion-ios-treat:before{
  content: url("../img/icon/treat-outline.png")!important;
}

.ion-ios-treat-strong:before {
  content: url("../img/icon/treat.png")!important;
}

.ion-ios-record:before{
  content: url("../img/icon/record-outline.png")!important;
}

.ion-ios-record-strong:before {
  content: url("../img/icon/record.png")!important;
}

.ion-ios-profile:before{
  content: url("../img/icon/profile-outline.png")!important;
}

.ion-ios-profile-strong:before {
  content: url("../img/icon/profile.png")!important;
}




/*range*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 14px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(0,0,0,0);
  border-radius: 0px;
  border: 0px solid #f3807b;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 0.9px solid rgba(249, 183, 99, 0.5);
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background: #f9b763;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0,0,0,0);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(0,0,0,0);
  border-radius: 0px;
  border: 0px solid #f3807b;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 0.9px solid rgba(249, 183, 99, 0.5);
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background: #f9b763;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0,0,0,0);
  border: 0px solid #f3807b;
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(0,0,0,0);
  border: 0px solid #f3807b;
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  border: 0.9px solid rgba(249, 183, 99, 0.5);
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background: #f9b763;
  cursor: pointer;
  height: 4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0,0,0,0);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(0,0,0,0);
}
